@model List<ProyectoWebScrub.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Lista de Clientes</h2>


<div class="mb-3">

    <a href="/Home" class="btn btn-secondary">
        Ir al Inicio
    </a>

  

</div>

<a asp-controller="Cliente" asp-action="Create" class="btn btn-success">
    Nuevo Cliente
</a>

<br>
<br>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Fecha de nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.FechaNacimiento</td>

                <td>
                    <a asp-controller="Cliente"
                       asp-action="Edit"
                       asp-route-id="@cliente.Id"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-controller="Cliente"
                       asp-action="Delete"
                       asp-route-id="@cliente.Id"
                       class="btn btn-danger btn-sm">
                        Eliminar
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>
<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">
        Cerrar sesión
    </button>
</form>